.fill-width {
  width: 100%;
}

.link-caption {
  text-decoration: none;
  color: #666 !important;
  font-size: 0.75rem;
}

.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  position: relative;
}

.middle-separator {
  position: absolute;
  padding: 0 16px;
  color: #ccc;
  background: #fff;
  font-size: 11px;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  top: -7px;
  left: 30%;
}

.middle-separator {
  color: #777;
  font-size: 13px;
  top: -9px;
  left: 41%;
}

.v-btn--active::before {
  opacity: 0 !important;
}

.v-btn--active:hover::before {
  opacity: 0.18 !important;
}

.login-error {
  position: absolute;
  top: 8px;
  left: auto;
  color: red;
}

.tabItemWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabItem {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.customVIcon {
  width: 32px !important;
  height: 32px;
}

.tabName {
  width: 60px;
  font-size: 12px;
  text-align: center;
}

.outlined {
  color: white;
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
}
